li{
    list-style: none;
}

ul li a{
    display: block;
    padding: 10px;
    color:#fff;
    text-transform: none;
    text-decoration: none;

    }
li a:hover{
    background: #fc2827;
    color:#fff;
}